@import "nullstyle.css";
@import "page-front.css";
@import "front.css";
@import "page-education.css";
@import "education.css";
@import "page-form.css";
@import "form.css";
@import "course-program.css";
@import "course-program-tabs.css";
@import "footer.css";
@import "variables.css";
@import "fonts.css";
@import "scroll.css";

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.page {
	position: relative;
	width: 100vw;
}

.page-background {
	width: 100%;
	height: 100%;
}

.page-parallax {
	height: 100vh;
	background: url(../images/parallax.png) center / cover no-repeat fixed;
}

.title {
	text-align: center;
	font-family: var(--ff-main);
	letter-spacing: 0.3rem;
	color: var(--green);
	text-shadow: 0 0 1rem var(--shadow-green);
}

.font-logo {
	font-family: Goatsica;
}
